AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_API_AUDIENCE=https://securenova-ai-api
AUTH0_SPA_CLIENT_ID=paste_chat_app_client_id_here
AUTH0_M2M_CLIENT_ID=paste_agent_app_client_id_here
AUTH0_M2M_CLIENT_SECRET=paste_agent_app_client_secret_here

APP_BASE_URL=http://localhost:8000
PORT=8000
